@font-face {
  font-family: 'Ostrich Sans';
  src: url('/fonts/ostrich/ostrich-sans-bold.eot');
  src: local('Ostrich Sans'), url('/fonts/ostrich/ostrich-sans-bold.woff') format('woff'), url('/fonts/ostrich/ostrich-sans-bold.ttf') format('truetype'), url('/fonts/ostrich/ostrich-sans-bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
  position: relative;
}
html {
  line-height: 1.67em;
}
@media (max-width: 699px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 700px) and (max-width: 959px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 960px) {
  html {
    font-size: 23px;
  }
}
body {
  font-family: georgia, serif;
  color: white;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(180deg, #fe4e4e 0%, #ff4400 50%, white 100%);
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
.container {
  margin: auto;
  padding: 0 2rem;
}
@media (max-width: 699px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 700px) and (max-width: 959px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 960px) {
  .container {
    width: 960px;
  }
}
header,
section,
footer {
  margin: 4rem 0;
}
h1,
h2 {
  font-family: 'Ostrich Sans', sans-serif;
  font-weight: 700;
  margin: 0;
  line-height: 1em;
}
h1 {
  font-size: 2.67rem;
}
h2 {
  font-size: 2rem;
}
header {
  border-bottom: 10px solid white;
}
@media (min-width: 700px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.subtitle {
  font-family: 'Ostrich Sans', sans-serif;
  font-size: 1.67rem;
  line-height: 2rem;
}
#projects {
  margin-left: -1rem;
  margin-right: -1rem;
}
#projects:after {
  display: block;
  content: '';
  clear: both;
}
h2 {
  border-bottom: 10px solid white;
}
.projects-group {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (max-width: 699px) {
  .projects-group {
    margin: 4rem 0;
  }
}
@media (min-width: 700px) {
  .projects-group {
    width: 33%;
    float: left;
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin: 1em 0;
  line-height: 1.33em;
}
.project-title {
  display: block;
}
.project-date {
  display: block;
  color: #808080;
  font-style: italic;
  font-size: 0.9rem;
  line-height: 1.2em;
  margin-top: 0.2rem;
}
.project-description {
  display: block;
  font-style: italic;
  font-size: 0.9rem;
  line-height: 1.2em;
  margin-top: 0.2rem;
}
.project-link {
  border-left: 10px solid rgba(255, 255, 255, 0.3);
  display: block;
  padding-left: 0.5em;
}
.project-link:hover {
  text-decoration: none;
  border-left-color: white;
}
footer {
  border-bottom: 10px solid white;
  display: flex;
  justify-content: space-between;
}
